Source: ros-testing-examples-rclcpp-minimal-publisher
Section: misc
Priority: optional
Maintainer: Jacob Perron <jacob@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-testing-ament-cmake, ros-testing-rclcpp, ros-testing-std-msgs, ros-testing-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-testing-examples-rclcpp-minimal-publisher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-testing-rclcpp, ros-testing-std-msgs, ros-testing-ros-workspace
Description: Examples of minimal publisher nodes
