Source: ros-turbulent-examples-rclpy-minimal-action-client
Section: misc
Priority: extra
Maintainer: Shane Loretz <sloretz@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-turbulent-ament-copyright, ros-turbulent-ament-flake8, ros-turbulent-ament-pep257, ros-turbulent-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-turbulent-examples-rclpy-minimal-action-client
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-turbulent-example-interfaces, ros-turbulent-rclpy, ros-turbulent-ros-workspace
Description: Examples of minimal action clients using rclpy.
